* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
/*
.table1{
    border:1px;
    width:100%;
    height:647px;
    align:center;
    border-color: #A3D9B1;
    background: linear-gradient(135deg, #ECF0F1, #BDC3C7);
}

.table2{
    align:center;
    width:100%;
    height:100px;
}

.table3{
    border:1px;
    align:center;
    width:100%;
    height:100px;
}
.td{
    align:left;
    height:50px;
    width:20%;
}

.td1{
    colspan :2;
    width:60%;
    align:center;
}

.td2{
    align:right;
    width:20%;

} */
/* -------------------------------------------------------------- */
/*                      messenger */
/* -------------------------------------------------------------- */
.contener{
    padding: 0;
    align-items: center;
    width:100%;
    height: 100px;

}
.contener1 {
    width:100%;
    height:60px;
    background-color: rgb(39, 39, 46);
}

.nav{
    padding-top: 1px;
    padding-left: 8px;
    background-color: rgb(39, 39, 46);
    color: white;
    width:100%;
    height:90px;
    align-items: center;
}

.fa-solid{
    padding-left: 88%;
    font-size: 25px;
}

i{
    display: flex;
    justify-content: right;
    text-align: right;
    align-items: end;

}

.peding{
    margin-top: -20px;
}

.contener2{
    padding-left: 8px;
    align-items:"center";
    width:100%;
    height:666px;
    background-color: rgb(30, 30, 34);
}

.contener3{
    align-items:"center";
    width:100%;
    height:60px;
    background-color: rgb(39, 39, 46);
}
.fa-brands{
    color: rgb(4, 238, 255);
    font-size: 40px;
    padding-left: 100px;
    margin-top: 10px;

}

.input{
    padding-left: 8px;
    size:90px;
    outline: none ;
    height: 40px;
    width: 90%;
    color: rgb(255, 255, 255);
    background-color: rgb(39, 39, 46);
    border: none;
    font-size: 16px;
}

.peding1{

    font-size: 25px;
    color: white;
    background-color: rgb(47, 47, 117);
    border-radius: 8px;
    padding: 8px;
    width: 300px;
}

.button{
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background: rgb(182, 175, 175);
}


